$color-brand: #E91E63;
$color-brand--dark: #C2185B;
$color-brand--light: #F06292;

$color-grey--1: #CFD8DC;
$color-grey--3: #90A4AE;
$color-grey--5: #607D8B;
$color-grey--7: #455A64;
$color-grey--9: #263238;

$font-primary: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
