$color-grey--1: #fafafa;
$color-grey--3: #e0e0e0;
$color-grey--5: #9e9e9e;
$color-grey--7: #616161;
$color-grey--9: #212121;

$font-primary-safe: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-primary: 'Source Sans Pro', $font-primary-safe;
