@import "config.variables";
@import "config.functions";

.Header {
  padding: gutter(lg) 0;
  background-color: $color-grey--9;
  text-align: center;
}

.Header-title {
  margin: 0 0 gutter(xs) 0;
  padding: 0;
  color: #fff;
}

.Header-subTitle {
  margin: 0;
  padding: 0;
  color: $color-grey--5;
  font-style: italic;
  text-transform: lowercase;
}
