@import "config.variables";
@import "config.functions";

.header {
  padding: gutter(lg) 0;
  background-color: $color-grey--9;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto gutter(xs) auto;
}

.title {
  margin: 0 0 gutter(xs) 0;
  padding: 0;
  color: #fff;
}

.subTitle {
  margin: 0;
  padding: 0;
  color: $color-grey--5;
  font-style: italic;
  text-transform: lowercase;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: gutter(md);
}

.nav-item {
  margin: 0 gutter(sm);
  color: $color-grey--1;
  text-decoration: none;
}

.nav-item--isActive {
  text-decoration: underline;
}
